/* icone feitos por braces by Made x Made from the Noun Project*/

body {
    padding-top: 100px
}

.text-btn-fix{
    display: flex;
    justify-content: center;
}

.box-shadow {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05),
        0 4px 8px 0 rgba(0, 0, 0, .05);
}

@media(max-width: 768px) {
    body {
        padding-top: 0px
    }

    .fixed-top {
        position: relative
    }

}